.formInput {
    display: table-row-group;
    text-align: left;
   
  }
  
  .formInput input {
    padding: 12px;
     width: 650px;
    border-radius: 8px;
    border: 1px solid #8080803b;
    outline: none;
  }
  
  .formInput label {
    font-size: 18px;
    color: black;
    margin-top: 8px;
    font-weight: 500;
  }
  
  .formInput span {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
  }
 input:focus{
    border: 1px solid #0cc8c9;
  }
  
  .formInput input:invalid[focused="true"] {
    border: 1px solid red;
  }
  
  .formInput input:invalid[focused="true"] ~ span {
    display: block;
  }
  .have__account{
    display: flex;
    gap: 0.5rem;
    padding: 4px 
  }
  .have__account a{
    font-weight: 500;
    font-style: oblique;
    font-size: 1.1rem
  }
  @media screen and (max-width:1220px) {
    .formInput {
      display: flex;
      flex-direction: column;
      width: 180px;
      text-align: left;
    }

  }
  @media screen and (max-width : 820px){
    .formInput input {
    
       width: 280px;
     
    }
  }